.contactWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
}
/* .contactWrapper p {
  width: 30%;
} */
.contactInfo {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
