.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: 3px solid #78788c;
  padding: 10px 5px;
}
.headerButtonsWrapper {
  display: flex;
  gap: 10px;
}

.refreshingtext {
  margin: 10px 0;
  /* padding-bottom: 10px; */
  width: 100%;
  color: #78788c;
  font-size: 18px;
}

.loginError {
  margin: 10px 0;
  /* padding-bottom: 10px; */
  width: 100%;
  color: red;
  font-size: 14px;
}
